	* {
		box-sizing: border-box;
		scroll-behavior: smooth;
		
	}

	label {
	font-weight: bold;
	}

	







	/*__________________________________________ Styling _____________________________*/



	#upper_window {
		height: 200px;
		background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),  url(../images/solar6.jpg);
		background-attachment:fixed;
		background-position:bottom;
		display: none;
		


	}
/*
	@media screen and (max-width: 780px) {
		#upper_window {
			display: none;
		}
*/


	}

	#upper_window img {
		height: 10vw;
		/*opacity: 0.8;*/
	}

	#upper_window #maintitle {
		position: absolute;
		top:2.5vh;
		left:19vw;
		font-size: 7.3vw;
		line-height: 2;
		letter-spacing: -0.019em;
		font-weight: 900;
		padding-left: 36px;
		padding-top: 10px;
		text-shadow: 3px 3px 5px #9d0808;
		color: #d2be40;
		font-family:kalam;
		opacity: 0.8;

	}

	#z_navbar {
		background:#06050c !important;
		box-shadow: 1px 2px 12px grey;
		
	}


	.row {
		margin: 0px;
	 }


/*_____________________________________row1 starts _______________________________*/
	#row1 {
		padding: 30px;

	}

	#row1 #row1_a {
		height: 500px;
		/*background: grey;*/
	}
	#row1  img {
		width:30%;
		margin-top: 40px;
		border-radius: 150px;
		box-shadow: 3px 3px 2px grey;
		background-size: contain;
		



	}

	#row1 p {
		
		padding-left:30px;
	}
    
   

	/*+_________________________row1 ends _________________________________*/

/*_____________________________row2 starts __________________________*/
	#row2 {
		padding-bottom: 30px;
	}

	.z_titles_container {
		padding: 30px 0px 30px 0px;
	}
	.z_titles {
	background: #034955;
    width: 20%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
		
	}


	.z_titles h3 {
		color:white;
		text-align: center;
		padding-top: 10px;
		

	}

	






	
	

	.row2_padding {
		padding: 30px 30px 30px 30px;
	}


	#row2 #row2_a {
		padding-top: 30px;
		height:180px;
		border:1px solid #052546;
		box-shadow: 3px 3px 5px grey;	
		position: relative;	
		padding-left: 20px;
	}

	#row2 .row2_a_img  {
		width: 100px;
		height: 100px;
		object-fit: cover;
		border-radius: 50px;

	}

 	#row2 #row2_a h4 {
 		text-align: center;
 	}

	

	#row2 #row2_b {
		padding-top: 30px;
		height:180px;
		border:1px solid #052546;
		box-shadow: 3px 3px 5px grey;
		padding-left: 20px;
		

	}



	/*@media screen and (max-width: 767px) {
		#row2 {
			content:"";
			clear:both;
			display: block;
		}*/


	/*________________________row2 ends ____________________________*/


	/*________________________row3 starts __________________________*/

	#row3 {
		height: 500px;
		background:#052546;
		padding: 0px 0px 0px 0px;
	
	}

	#row3 #partner_window  {
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(../images/upperwindow1.jpg);
		background-attachment: fixed;
		background-position: bottom;
		margin:0px;
		position: relative;
		padding:0px;
	}

	#row3 #partner_window #upperstrip {
		background:#0525469e;
		height:100px;
		width:100%;
		position: absolute;
		top:0;


	}

	#row3 #partner_window #upperstrip h3 {
		color: white;
		text-align: center;
		padding-top: 30px;

	}

	#row3 #partner_window #upperstrip h3::before {
    content: "";
    position: absolute;
    top: 61px;
    bottom: 36px;
    left: 550px;
    right: 550px;
    width: 13%;
    background: #01ffd2;
    border-radius: 0px;
	}

	

	#row3 #partner_window #lowerstrip {
		background:#0525469e;
		height:100px;
		width:100%;
		position: absolute;
		bottom:0;

	}


	/*___________________   row3 ends ______________*/

	/*_____________________row4 starts _____________*/

	#row4 {
		/*height: 500px;*/
		background: lightblue;

	}

	#row4 #row4_a {
		/*height: 600px;*/
		background-color: grey;
		padding-bottom: 30px;

	}

	#row4 #row4_a #row4_a_upper {
		padding: 30px 0px 10px 0px;

	}

	#row4 #row4_a #row4_a_upper img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	#row4 #row4_a #row4_a_lower {
		background:green;
		height: 300px;
	}




	#row4 #row4_b {
		/*height: 600px;*/
		background-color: pink;
		padding-top: 75px;
		
	}
	/*_____________row4 ends _____________*/


	/*-___________row5 starts________________*/

	#row5 {


	}

	#row5 #row5_a {
		width: 100%;
		background-color: pink;

	}

	#row5 #row5_a img {

	}

	#row5_a_1 {
		height: 400px;
	}
	#row5_a_2 {
		height: 400px;
	}

	#row5 #row5_b {
		/*height: 300px;*/
		background-color: green;
		padding-bottom: 30px;

	}

	/* __________ row6 starts _______________*/


	#row6 {
		/*height: 500px;*/
		padding-bottom: 30px;
	} 

	#row6 #row6_a {
		height: 600px;
		padding-top: 100px;
		border-radius: 40px 0px 0px 40px;
	}

	@media only screen and (max-width:575px) {
		#row6 #row6_a {
			border-radius: 40px 40px 0px 0px;
			height: 300px;
			padding-top: 50px;

		}


	}

	#row6 #row6_b {
		height: 600px;
		
	}


	/*____________row6 ends _________________*/

	/*_________ row_last starts  ____________*/

	#row_last {

		height: 100px;
		background:#052546;

	}

	/*__________row_last ends _________*/	



