	* {
		box-sizing: border-box;
		scroll-behavior: smooth;
		
	}

	







	/*__________________________________________ Styling _____________________________*/



	#upper_window {
		height: 200px;
		background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),  url(../images/solar6.jpg);
		background-attachment:fixed;
		background-position:bottom;
		display: none;
		


	}

	@media screen and (max-width: 780px) {
		#upper_window {
			display: none;
		}



	}

	#upper_window img {
		height: 10vw;
		/*opacity: 0.8;*/
	}

	#upper_window #maintitle {
		position: absolute;
		top:2.5vh;
		left:19vw;
		font-size: 7.3vw;
		line-height: 2;
		letter-spacing: -0.019em;
		font-weight: 900;
		padding-left: 36px;
		padding-top: 10px;
		text-shadow: 3px 3px 5px #9d0808;
		color: #d2be40;
		font-family:kalam;
		opacity: 0.8;

	}

	#z_navbar {
		background:#06050c !important;
		
	}


	.row {
		margin: 0px;
	 }


/*_____________________________________row1 starts _______________________________*/
	#row1 {
		/*height: 550px;*/
		/*background-color: lightgreen;*/

	}

	#row1 #row1_a {
		height: 500px;
		/*background: grey;*/
	}
	#row1 #row1_a img {
		width:100%;
		margin-top: 40px;
		box-shadow: 3px 3px 2px grey;
	}

	#row1 #row1_b {
		height: 500px;
		/*background-color: red;*/
	}
    
    #row1::after {
    	content: "";
    	clear: both;
    	display: block;
    }

	/*+_________________________row1 ends _________________________________*/

/*_____________________________row2 starts __________________________*/
	#row2 {
		height:500px;
		/*background: pink;*/
		/*padding: 30px;*/
		
	}

	.z_titles {
		background:#05254612;
		width: 100%;
		height: 50px;
		
	}


	.z_titles h3 {
		color:black;
		text-align: center;
		padding-top: 10px;
		

	}

	






	
	

	.row2_padding {
		padding: 30px 30px 30px 30px;
	}


	#row2 #row2_a {
		padding-top: 30px;
		height:400px;
		border:1px solid #052546;
		box-shadow: 3px 3px 5px grey;	
		position: relative;	
	}


	#row2  .z_circle {
	border: 2px solid;
    width: 170px;
    height: 170px;
    position: relative;
    border-radius: 87px;
    margin-left: auto;
    margin-right: auto;


	}

	#row2  i {
		position: absolute;
    	display: inline-block;
    	font-size: 104px;
    	color: #052546;
    	left: 53px;
    	top: 28px;


	}

	#row2  h2 {
		display: block;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	#row2 #row2_b {
		padding-top: 30px;
		height:400px;
		border:1px solid #052546;
		box-shadow: 3px 3px 5px grey;
		

	}

	#row2 #row2_c {
		padding-top: 30px;
		height:400px;
		border:1px solid #052546 ;
		box-shadow: 3px 3px 5px grey;
	}


	/*@media screen and (max-width: 767px) {
		#row2 {
			content:"";
			clear:both;
			display: block;
		}*/


	/*________________________row2 ends ____________________________*/


	/*________________________row3 starts __________________________*/

	#row3 {
		height: 500px;
		background:#052546;
		padding: 0px 0px 0px 0px;
	
	}

	#row3 #partner_window  {
		background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(../images/upperwindow1.jpg);
		background-attachment: fixed;
		background-position: bottom;
		margin:0px;
		position: relative;
		padding:0px;
	}

	#row3 #partner_window #upperstrip {
		background:#0525469e;
		height:100px;
		width:100%;
		position: absolute;
		top:0;


	}

	#row3 #partner_window #upperstrip h3 {
		color: white;
		text-align: center;
		padding-top: 30px;

	}

	#row3 #partner_window #upperstrip h3::before {
    content: "";
    position: absolute;
    top: 61px;
    bottom: 36px;
    left: 550px;
    right: 550px;
    width: 13%;
    background: #01ffd2;
    border-radius: 0px;
	}

	

	#row3 #partner_window #lowerstrip {
		background:#0525469e;
		height:100px;
		width:100%;
		position: absolute;
		bottom:0;

	}


	/*___________________   row3 ends ______________*/

	/*_____________________row4 starts _____________*/

	#row4 {
		height: 500px;
		/*background: lightblue;*/
	}

	/*_____________row4 ends _____________*/

	/*_________ row5 starts ____________*/

	#row5 {

		height: 100px;
		background:#052546;

	}

	/*__________row5 ends _________*/	
